h1 {
	font-family: Century Gothic, sans-serif;
	font-size: 4em;
	font-weight: bold; 
}

.fa-pencil-square-o {
	color: #b37b4e; /* brown */
}

#pg-heading {
	color: #3e8f3e; /* green */
}

#addbutton {
	background-image: none;
	background-color: #3e8f3e; /* green */
}

th {
    background-color: #b37b4e; /* brown */
    color: white;
} 

.alert {
	padding: 9px;
    height: 34px;
}